body {
  margin: 0;
  font-family: sans-serif;
}
.box {
  width: 200px;
  height: 200px;
  background: #f00;
  transition-property:  left, border;
  transition-duration: 1s;
  margin-top: 0;
  position: relative;
  left: 0;
}
body:hover .box {
    background-color: #00f;
    border-radius: 50%;
    margin-top: 100px;
    left: 200px;
  }