div {
  padding: 20px;
}
h1::first-letter {
  color: #f00;
  font-size: 3em;
  letter-spacing: -10px;
}
div::first-line {
  color: #f00;
  font-weight: bold;
}
h1::selection {
  color: #f00;
  background: #000;
}
input::placeholder {
  color: #0f0;
  background: #00f;
  padding: 30px;
}
li::marker {
  color: #2e4;
}
li::before {
  content: "elemento:";
  color: #2e4;
}
li::after {
  content: "despues";
  color: #e12f24;
}